$body-bg:            #e5e5e5;
$navbar-default-bg:  #fff;

$brand-primary:   #FF8E03;
$link-color:            $brand-primary !default;
$link-hover-color:      lighten($link-color, 15%);

$font-family-sans-serif:  "Ubuntu";
$headings-font-family:    "Dosis";
$headings-color:          #888;

@import "../../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "vendor/slick.scss";
@import "citra-theme.scss";
@import "citra-theme-media.scss";
