<a href="{{ .Permalink }}">
    <div class="entry-embed-outer">
        {{ $slug := path.BaseName .RelPermalink }}
        <div class="entry-embed" style="background: url('{{ .Site.BaseURL }}/images/banners/{{ .Params.Banner | default (print $slug ".png") }}')">
              <header>
                <h1>{{ .Title }}</h1>
            </header>
        </div>

        {{/* Each entry-meta is 40 + 5 padding in height. */}}
        <div class="entry-meta" style="position: absolute; top: 5px; right: 20px;">
            {{ .Date.Format "January 02 2006" }}
        </div>

        {{ range .Params.tags }}
        <div class="entry-meta" style="position: absolute; top: 45px; right: 20px;">
            {{ . }}
        </div>
        {{ end }}
    </div>
</a>
