{{ define "main" }}
  {{ .Render "header" }}

  <div class="entry-content">
    {{ .Content }}
  </div>
  
  {{ $date := .Date.Format "Monday January 02, 2006" }}

  <div class="entry-written-by">
    {{ if .Params.authors }}
      <h2>Written By</h2>

      <ul>
        {{ range $authorName := .Params.authors }}
          {{ $author := index $.Site.Data.authors ( $authorName ) }}
          <li>
            {{ if and $author.key $author.avatar }}
              <a href="https://community.citra-emu.org/users/{{ $author.key }}" class="clearfix">
                <img src="{{ $author.avatar }}" class="avatar">
            {{ else if $author.avatar }}
              <img src="{{ $author.avatar }}" class="avatar">
            {{ end }}

            {{ if $author.key }}
                <span>{{ $author.name }}</span>
              </a>
            {{ else }}
              <span>{{ $author.name }}</span>
            {{ end }}
          </li>
        {{ end }}
      </ul>

      <span class="entry-written-date">on {{ $date }}</span>

    {{ else }}
      <p class="entry-written-by-empty">No author was provided. Written on {{ $date }}</p>
    {{ end }}
  </div>

  {{ if .Params.forum }}
    <div class="entry-comments">
      <div id="discourse-comments"></div>
      <script type="text/javascript">
        DiscourseEmbed = { discourseUrl: 'https://community.citra-emu.org/', topicId: "{{ .Params.forum }}" };
        (function() {
          var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
          d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
        })();
      </script>
    </div>
  {{ end }}

{{ end }}
