{{ define "main" }}
	<h1>Game Compatibility List</h1>
	<p>The Citra Emulator compatibility list contains all the games we tested, sorted by how well they work on the emulator.</p>
	<table class="table table-striped table-bordered">
		<tbody>
		{{ range .Site.Data.compatibility }}
		<tr>
			<td style="width: 120px;"><div class="square-icon" style="background-color: {{ .color }}"></div> {{ .name }}</td>
			<td class="row-compat-desc">{{ .description }}</td>
		</tr>
		{{ end }}
		</tbody>
	</table>

	<div id="highchart-container" style="height: 100px; margin: 0 auto"></div>

	<hr />

	<div id="game-listing">
		<div>
			<form class="pull-right">
				<div class="form-group">
					<table>
						<tr>
							<td>
								<div class="input-group search-box">
									<input type="text" class="form-control search" id="search-box" placeholder="Search...">
									<span class="clear-search input-group-addon">X</span>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</form>
		</div>

		<ul class="pagination paginationTop pull-left"></ul>

		<table id="compatibility-list" class="table table-responsive">
			<thead>
				<tr>
					<th></th>
					<th class="sort" data-sort="title">Title</th>
					<th class="sort" data-sort="type">Type</th>
					<th class="sort" data-sort="compatibility">Compatibility</th>
					<th class="sort" data-sort="date-tested">Date Tested</th>
				</tr>
			</thead>
			<tbody class="list">
				{{ range .Pages }}
					{{- $rating := index .Site.Data.compatibility .Params.compatibility }}
					{{- $type := index .Site.Data.gameTypes (.Params.game_type | default "3ds") }}
					<tr data-key="{{ .Params.section_id }}">
						<td class="hidden listing-metadata">
							<span>{{ .Params.title }} {{ $type.name }} {{ $rating.name }}</span>
						</td>
						<td class="col-md-1 icon">
							{{ if (fileExists (print "static/images/game/icons/" .File.BaseFileName ".png")) }}
								<img src="/images/game/icons/{{ .File.BaseFileName }}.png" />
							{{ end }}
						</td>
						<td class="col-md-6 title" data-title="{{ strings.TrimPrefix "The " .Params.title }}">
							<a href="{{ .Permalink }}">{{ .Params.title }}</a>
						</td>
						<td class="col-md-1 type" data-type="{{ $type.name }}">
							<img src="/images/game/types/{{ $type.key }}.png" title="{{ $type.name }}" />
						</td>
						<td class="col-md-1 compatibility" data-compatibility="{{ $rating.key }}">
							<div class="square-icon" style="background-color: {{ $rating.color }}"></div> <span>{{ $rating.name }}</span>
						</td>
						<td class="col-md-3 date-tested" data-timestamp="{{ .Params.testcase_date }}">
							{{ if .Params.testcase_date }}
								<span>{{ dateFormat "January 2, 2006" .Params.testcase_date }}</span>
							{{ else }}
								<span></span>
							{{ end }}
						</td>
					</tr>
				{{ end }}
			</tbody>
		</table>
		<ul class="pagination paginationBottom pull-left"></ul>
	</div>
{{ end }}

{{ define "scripts" }}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<script type="text/javascript">
	$(function() {
		function getLastSorted(list){
			var currentSorted = $(list.listContainer).find(".asc, .desc").attr("data-sort");
			if ('undefined' !== typeof currentSorted)
				list.lastSorted = currentSorted;
			return list.lastSorted;
		}

		function filterTable(_) {
			var rating = this.name;
			var index = this.index;

			$("#search-box").val(rating);
			list.search(index, ['compatibility']);
		}

		function clearSearch() {
			$("#search-box").val("");
			list.search();
		}
		
		document.getElementById('search-box').addEventListener('input', function(e) {
			var searchBox = e.target;
			searchBox.value = searchBox.value.replace(/pokemon/gi, 'pokémon').replace(/pokedex/gi, 'pokédex');
		}, true);

		var options = {
			valueNames: [
				'listing-metadata',
				{ name: 'title', attr: 'data-title' },
				{ name: 'type', attr: 'data-type' },
				{ name: 'compatibility', attr: 'data-compatibility' },
				{ name: 'date-tested', attr: 'data-timestamp' }
			],
			searchColumns: [ 'listing-metadata' ],
			pagination: [
				{ paginationClass: "paginationTop" },
				{ paginationClass: "paginationBottom" }
			],
			indexAsync: true,
			page: 50
		};

		var list = new List('game-listing', options);

		list.sort("title", {order: "asc"});

		list.on("updated", function(list){
			var $list = $(list.list);
			var $items = $list.children();
			$items.removeClass("key");
			if ('title' == getLastSorted(list)){
				$items.each(function(){
					var key = $(this).attr("data-key")
					if (
						$list
						.children("[data-key='" + key + "']")
						.first()
						.is( $(this) )
					){
						$(this).addClass("key");
					}
				})
			}
		});

		$('#game-listing .clear-search').click(clearSearch);

		Highcharts.chart('highchart-container', {
			chart: { type: 'bar' },
			colors: [{{ range .Site.Data.compatibility }}"{{ .color }}", {{- end }}],
			credits: { enabled: false },
				exporting: { enabled: false },
			title: { text: '' },
			xAxis: { categories: [''] },
			yAxis: { min: 0, max: {{ len .Data.Pages }}, title: { text: '' } },
			legend: { enabled: false },
			plotOptions: { series: {
				stacking: 'normal',
				cursor: 'pointer',
				events: {
					click: filterTable
				}
			} },
			series: [
					{{- $dataPages := .Data.Pages }}
					{{- range .Site.Data.compatibility }}
					{{- $dataPagesFiltered := where $dataPages ".Params.compatibility" .key }}
					{ "name": "{{ .name }}", "data": [ {{ len $dataPagesFiltered }} ] },
					{{- end }}
				]
		});
	});
</script>
{{ end }}
