<nav class="navbar navbar-default navbar-wrapper navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">&nbsp;</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="index-1 first"><a href="/" title="Blog Posts">Blog</a></li>
                <li class="index-2"><a href="/download/" title="Download Citra">Download</a></li>
                <li class="index-3"><a href="/wiki/home/" title="Wiki Homepage">Wiki</a></li>
                <li class="index-4"><a href="/wiki/faq/" title="Frequently Asked Questions">FAQ</a></li>
                <li class="index-5"><a href="/game/" title="Game Compatibility">Compatibility</a></li>

                <li class="index-6 dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="false">
                        Social <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu">
                        <li class="index-1 first"><a href="/rules/" title="">Rules</a></li>
                        <li class="index-2"><a href="https://community.citra-emu.org/" title="Forums">Community Forums</a></li>
                        <li class="index-3 last"><a href="/discord/" title="Discord Channel">Discord Chat</a></li>
                    </ul>
                </li>

                <li class="index-7 dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                                aria-haspopup="true" aria-expanded="false">
                        Media <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu">
                        <li class="index-1 first"><a href="/screenshots/" title="Screenshots">Screenshots</a></li>
                        <li class="index-2 last"><a href="https://www.youtube.com/channel/UC_dcdgzuapBtAY4ol3x-90Q"
                                                    title="Youtube Channel">Videos</a></li>
                    </ul>
                </li>

                <li class="index-8 last"><a href="/donate/" title="Donate to Citra">Donate</a></li>
            </ul>
        </div>
    </div>
</nav>
