{{ define "top" }}
  {{ partial "jumbotron" }}
{{ end }}

{{ define "main" }}
  {{ $paginator := .Paginate (where .Data.Pages "Section" "entry") 3 }}

  {{ range $paginator.Pages }}
      {{ .Render "summary" }}
  {{ end }}

  {{ partial "pagination" . }}
{{ end }}

{{ define "scripts" }}
<script type="text/javascript">
    $('#carousel-inner').slick({
        autoplay: true,
        autoplaySpeed: 4000,
        lazyLoaded: true,
        prevArrow: "#slider-prev",
        nextArrow: "#slider-next",
        lazyLoad: "progressive"
    });
</script>
{{ end }}
