.h1, h1 { color: $brand-primary }

#jumbotron {
  height: 630px;
  margin-top: -16px;
  margin-bottom: 2%;
  padding-top: 62px;
  background-image: url('../images/rays.svg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#mainContainer {
  padding-top: 85px;
  padding-bottom: 2%;
  background-color: white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .1);
}
#content img {
  max-width: 100%;
  height: auto;
}
#content a, #carousel-description a, #twitter a {
  border-bottom: 1px solid #E7EDF3;
  text-decoration: none;
}
#footer {
  font-size: 14px;
  padding-top: 1%;
  padding-bottom: 2%;
}
#footer h1 {
  font-size: 14px;
  font-weight: bold;
  color: black;
}
#footer a {
  display: inline-block;
  width: 100%;
  padding: 4px 0;
  color: gray;
}
#footer-bottom {
  padding-top: 2%;
}
#footer-legal {
  font-size: 12px;
  padding-top: 2%;
  color: #989898;
}
#footer-brand {
  float: right;
  width: 135px;
  height: 50px;
  background: url('../images/namefooter.png') no-repeat;
  background-size: 100% auto;
}

a:hover {
  cursor: pointer;
}

/* Bootstrap NavBar */
.dropdown-menu > li > a {
  font-size: 18px;
}
.navbar, #navbar.in, #navbar.collapsing {
  background-color: #fff;
  background-image: none;
  filter: none;
}
.navbar-brand {
  margin-right: 10px;
  padding-right: 56px;
  padding-left: 25px;
  width: 84px;
  background: url('../images/contentlogo.svg') no-repeat 50% 50%;
  background-size: 64px;
}
.navbar-default {
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  text-transform: lowercase;
  height: 64px;
}
.navbar .container { padding-top: 5px; }

.nav > li > a:hover, .nav > li > a:focus {
  background-color: #FF8E03;
  text-decoration: none;
}
#navbar a:hover {color: #FF8E03;}

/* Navbar in mobile view, when active, change to @brand-primary */

.navbar-default .navbar-toggle:not(.collapsed) .icon-bar {
  background-color: #FF8E03;
}
.navbar-right {
  padding-top: 1%;
}
.navbar-right .form-control {
  padding: 0px;
  text-indent: 6px;
}
.dropdown-menu {
  background-color: #fff;
  font-size: inherit;
}

/* Removing shading from focused dropdown menu items */
.navbar-default .navbar-nav > .open {
  background-color: white;
  background-image: none;
  box-shadow: none;
}

/* Carousel */

#carousel {
  margin: auto;
  margin-top: 40px;
  width: 800px;
  height: 470px;
  border: 10px solid #FFF;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  z-index: 2;
  background: #000;
}

.carousel-inner .item {
  overflow: hidden;
}

.carousel-inner .item .article-image {
  width: 100%;
  height: 100%;
}

.carousel-caption {
  text-align: left;
  padding: 0 10px 0;

  font-size: 14px;

  left: 15px;
  bottom: 460px;

  position: relative;

  z-index: 1010; // 10 more then slick

  text-shadow: -2px 2px 3px rgba(0,0,0,1), -2px -2px 3px rgba(0,0,0,1), 2px -2px 3px rgba(0,0,0,1), 2px 2px 3px rgba(0,0,0,1);
  display: inline-block;

  max-width: 300px;
}

.carousel-content {
  position: absolute;
  top: 440px;
  left: 50%;
  margin-left: -212px;
  background-color: white;
  width: 425px;
  z-index: 5;
}

/* General */

.site-logo {
  width: 100%;
  height: 215px;
  z-index: 3;
  background-image: url('../images/logo.svg');
  background-size: 215px 215px;
  background-repeat: no-repeat;
  background-position: center;
}
.content-logo {
  width: 100%;
  height: 50px;
  z-index: 3;
  background-image: url('../images/contentlogo.svg');
  background-size: 125px 50px;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: -20px;
}
.link-action {
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  float: right;
  color: #FF8E03;
  font-weight: 600;
}
.button-action {
  font-size: 16px;
  border-radius: 20px;
  padding: 15px;
  color: white;
  background: radial-gradient(circle at 50% 100px, #ff8a10, #ff6a03) #ff9707;
}

.button-action:hover, .button-action:active, .button-action:visited {
  color: white;
  background: radial-gradient(circle at 50% 100px, #ff9a10, #ff7a03) #ff9707;
  box-shadow: 0 0 30px 0 rgba(0,0,0,0.15);
}
.avatar {
  float: left;
  width: 64px;
  height: 64px;
  border-radius: 36px;
  font-size: 18px;
  line-height: 36px;
  display: inline-block;
  box-sizing: content-box;
  vertical-align: top;
  margin-top: 2px;
  margin-right: 12px;
}
.nearest-neighbor {
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -webkit-crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
}

tbody td {
  text-align: left;
}

/* User Profiles - Flarum Integration */
.profile-avatar {
  border-radius: 24px;
}

/* Sidebar */
#sidebar h3 {
  font-family: "Dosis","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: gray;
}
#twitter p {
  font-size: 14px;
  color: #999;
}

/* Entry */

.entry {
  box-sizing: border-box;
  padding-bottom: 64px;
}
.entry-embed {
  width: 100%;
  height: 270px;
  background-size: cover !important;
  position: relative;
}
.entry-embed-header {
  padding-bottom: 6px;
}
.entry-embed > header {
  position: absolute;
  bottom: 0;
  left: 0;
}
.entry-embed > header > h1 {
  font-size: 48px;
  color: #FF8E03;
  background-color: #fff;
  margin: 0px !important;
  padding-right: 15px;
}
.entry-meta {
  font-size: 16px;
  padding: 5px;
  background-color: white;
}
.entry-meta a {
  font-weight: normal;
}
.entry-content {
  padding: 2%;
  padding-top: 0.5%;
}
.entry-written-by {
  font-size: 18px;
  padding-bottom: 26px;
}
.entry-written-by p {
  color: #888;
  font-size: 21px;
  padding-top: 16px;
  margin-left: 4px;
}
.entry-comments {
  padding-top: 16px;
}

.entry-content figure {
  padding: 20px 120px;
  text-align: center;
}

.entry-content iframe {
  padding: 20px 0;
}

/* Used for square boxes color coded */
.square-icon { float: left; margin-top: 2px; margin-right: 4px; width: 16px; height: 16px; background-color: black; }

/* Games Module */
#game-sections {
  display: table;
  margin: 0 auto;
}

#game-sections .btn {
  padding: 6px 10px;
}

#game-section-header {
  border: 0;
}

.pagination {
  margin: 0;
}

.clear-search {
  cursor: pointer;
}

.search-box {
  margin: 0 20px;
}